<div class="header"><h1>Eliminar persona</h1></div>
<div mat-dialog-content class="content">
  <p>Esta seguro que desea eliminar a:</p>
  <h1>{{persona?.primerNombre}} {{persona?.primerApellido}}</h1>
  <p>Con correo electronico: </p>
  <h1>{{persona?.correo}}</h1>
</div>
<div mat-dialog-actions class="actions">
  <button mat-button (click)="onNoClick()">Cancelar</button>
  <button mat-button [mat-dialog-close]="persona?.id" cdkFocusInitial>Eliminar</button>
</div>
