.header{
  padding: 8px 12px;
  background-color: brown;
  color: white;
  height: auto;
  h1{
    font-size: 20px;
    font-weight: 500;
    margin: 0;
  }
}
.content{
  margin: 8px 12px;
  padding: 8px 12px;
  border-radius: 8px;
  border: 1px solid var(--color-light-grey);
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  -ms-border-radius: 8px;
  -o-border-radius: 8px;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  p{
    font-size: 14px;
    margin: 0;
  }
  h1{
    margin: 0;
    font-size: 16px;
    font-weight: 500;
  }
}

.actions{
  padding: 12px;
  display: flex;
  flex-direction: row;
  justify-content: end;
  text-align: end;
}
