.cidenet-header {
    width: 100%;
    background-color: white;
    height: 85px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    gap: 15px;
    img{
        height: 45%;
        width: auto;
    }
    h1{
        margin: 0;
        padding: 0;
        font-size: 20px;
        font-weight: 500;
        color: var(--color-black);
    }
}