.container {
  padding: 24px 32px;
  display: flex;
  flex-direction: column;
  background-color: #fcfcfc;
}

.title {
  h1 {
    font-size: 18px;
    margin: 0;
    font-weight: 500;
  }
}

.content {
  background-color: #ffffff;
  margin-top: 12px;
  padding: 24px;
  border: 1px solid var(--color-light-grey);
  border-radius: 8px;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  -ms-border-radius: 8px;
  -o-border-radius: 8px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.item {
  margin-top: 16px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  h1 {
    flex: 30;
    font-size: 14px;
    font-weight: 400;
    margin: 0;
  }
  input {
    all: unset;
    flex: 70;
    width: 80%;
    background-color: #ffffff;
    padding: 8px 12px;
    border: 1px solid #e0e0e0;
    border-radius: 4px;
    text-decoration: none;
    font-family: Roboto, "Helvetica Neue", sans-serif;
    color: var(--color-black);
  }
  input:focus {
    border-color: var(--color-blue-dark);
  }
  select {
    all: unset;
    flex: 70;
    padding: 8px 12px;
    background-color: #ffffff;
    border: 1px solid var(--color-light-grey);
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
    option {
      width: 100%;
      padding: 8px 12px;
    }
  }

  select:after {
    position: absolute;
    top: 14px;
    right: 10px;
    width: 0;
    height: 0;
    border: 6px solid transparent;
    border-color: rgb(78, 78, 78) transparent transparent transparent;
  }
}

.btn-send {
  width: 100%;
  text-align: end;
  button {
    all: unset;
    border-radius: 8px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    -ms-border-radius: 8px;
    -o-border-radius: 8px;
    padding: 8px 12px;
    background-color: #07689f;
    color: white;
    margin-top: 24px;
  }
  button:hover{
    cursor: pointer;
  }
}
