<div class="container">
  <div class="title">
    <h1>Registrar empleado</h1>
  </div>
  <div class="content">
    <form action="" *ngIf="formPrincipal" [formGroup]="formPrincipal">
      <div class="item">
        <h1>Primer nombre</h1>
        <input type="text" formControlName="primerNombre"/>
      </div>
      <div class="item">
        <h1>Otros nombres</h1>
        <input type="text" formControlName="otrosNombres" />
      </div>
      <div class="item">
        <h1>Primer apellido</h1>
        <input type="text" formControlName="primerApellido" />
      </div>
      <div class="item">
        <h1>Pais</h1>
        <select formControlName="idPais">
          <option *ngFor="let pais of paises" value="{{pais.id}}">{{pais.nombre}}</option>
        </select>
      </div>
      <div class="btn-send">
        <button type="submit" [mat-dialog-close]="formPrincipal">Registrar</button>
      </div>
    </form>
  </div>
</div>
