<div class="container row">
  <div class="card-contain d-flex row">
      <div class="title-section">
        <h1 >Registro de clientes</h1>
        <p>Plataforma para el registro y control de empleados</p>
      </div>

      <div class="search-section">
          <input type="text" placeholder="Nombre de la persona">
          <button (click)="openDialogCrearPersonaForm('0ms', '0ms')">Registrar empleado</button>
      </div>

      <div class="table" *ngIf="isLoadPersonas">

        <table id="customers">
            <tr>
              <th>Primer nombre</th>
              <th>Otros nombres</th>
              <th>Primer apellido</th>
              <th>Correo</th>
              <th>Acciones</th>
            </tr>
            <tr *ngFor="let persona of personas">
              <td>{{persona.primerNombre}}</td>
              <td>{{persona.otrosNombres}}</td>
              <td>{{persona.primerApellido}}</td>
              <td>{{persona.correo}}</td>
              <td><span class="btn-eliminar" (click)="openDialogAdvertencia(persona)">Eliminar</span></td>
            </tr>
          </table>
      </div>

  </div>
</div>
