.container {
  height: 100%;
  background-color: #f8fcfb;
  justify-content: center;
  display: flex;
  padding: 24px 15px;
}

.card-contain {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  width: 100%;
  .title-section {
    text-align: center;
    h1 {
      color: var(--color-black);
      font-size: 20px;
      font-weight: 400;
      margin: 4px 0;
    }
    p {
      color: var(--color-grey);
      margin: 0;
    }
  }
  .search-section {
    width: 100%;
    margin: 36px 0px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    input {
      all: unset;
      width: 80%;
      background-color: #ffffff;
      padding: 8px 12px;
      border: 1px solid #e0e0e0;
      border-radius: 4px;
      text-decoration: none;
      font-family: Roboto, "Helvetica Neue", sans-serif;
      color: var(--color-black);
    }
    input:focus {
      border-color: var(--color-blue-dark);
    }
    button {
      all: unset;
      border-radius: 8px;
      -webkit-border-radius: 8px;
      -moz-border-radius: 8px;
      -ms-border-radius: 8px;
      -o-border-radius: 8px;
      padding: 8px 12px;
      background-color: #07689f;
      color: white;
      margin-top: 12px;
    }
    button:hover {
      cursor: pointer;
    }
  }

  .table {
    width: 100%;
    border: 1px solid #e3e3e3;
    overflow: hidden;
    border-radius: 8px;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  }
}

#customers {
  font-family: Roboto, "Helvetica Neue", sans-serif;
  border-collapse: collapse;
  width: 100%;
  background-color: #ffffff;
}

#customers td,
#customers th {
  padding: 12px 15px;
}

#customers tr:hover td {
  background-color: #f3f9fb;
}

.btn-eliminar{
  color: brown;
}

.btn-eliminar:hover{
  cursor: pointer;
  text-decoration: underline;
}

#customers td {
  border-top: 1px solid #e3e3e3;
  color: var(--color-grey);
}

#customers th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  font-weight: 500;
  color: var(--color-black);
}

@media (min-width: 768px) {
  .container {
    padding: 24px 42px;
  }
  .card-contain {
    justify-content: start;
    align-items: start;
    .title-section {
      text-align: start;
    }
    .search-section {
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      input{
        width: 300px;
      }
      button {
        margin: 0;
      }
    }
  }
}

@media (min-width: 992px) {
  .container {
    padding: 32px 96px;
  }
  .card-contain {
    justify-content: start;
    align-items: start;
    .title-section {
      text-align: start;
    }
  }
}
