/* You can add global styles to this file, and also import other style files */

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

:root {
  --color-black: #222222;
  --color-grey: #434242;
  --color-blue-dark: #324E7B;
  --color-light-grey: #e3e3e3;
}

.row {
  display: flex;
  flex-direction: row;
}

.d-flex {
  display: flex;
}

.d-block {
  display: block;
}

.d-none {
  display: none;
}

.flex-direction-row {
  flex-direction: row;
}

.flex-direction-col {
  flex-direction: column;
}

.flex-1 {
  flex: 10;
}

.flex-2 {
  flex: 20;
}

.flex-3 {
  flex: 30;
}
.flex-4 {
  flex: 40;
}
.flex-5 {
  flex: 50;
}
.flex-6 {
  flex: 60;
}
.flex-7 {
  flex: 70;
}
.flex-8 {
  flex: 80;
}
.flex-9 {
  flex: 90;
}
.flex-10 {
  flex: 100;
}

.justify-content-center {
  justify-content: center;
}

.align-items-center {
  align-items: center;
}

.justify-content-start {
  justify-content: flex-start;
}

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) {
  .d-sm-flex {
    display: flex;
  }

  .d-sm-block {
    display: block;
  }

  .flex-sm-direction-row {
    flex-direction: row;
  }

  .flex-sm-direction-col {
    flex-direction: column;
  }

  .flex-sm-1 {
    flex: 10;
  }

  .flex-sm-2 {
    flex: 20;
  }

  .flex-sm-3 {
    flex: 30;
  }
  .flex-sm-4 {
    flex: 40;
  }
  .flex-sm-5 {
    flex: 50;
  }
  .flex-sm-6 {
    flex: 60;
  }
  .flex-sm-7 {
    flex: 70;
  }
  .flex-sm-8 {
    flex: 80;
  }
  .flex-sm-9 {
    flex: 90;
  }
  .flex-sm-10 {
    flex: 100;
  }
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
  .d-md-flex {
    display: flex;
  }

  .d-md-block {
    display: block;
  }

  .flex-md-direction-row {
    flex-direction: row;
  }

  .flex-md-direction-col {
    flex-direction: column;
  }

  .flex-md-1 {
    flex: 10;
  }

  .flex-md-2 {
    flex: 20;
  }

  .flex-md-3 {
    flex: 30;
  }
  .flex-md-4 {
    flex: 40;
  }
  .flex-md-5 {
    flex: 50;
  }
  .flex-md-6 {
    flex: 60;
  }
  .flex-md-7 {
    flex: 70;
  }
  .flex-md-8 {
    flex: 80;
  }
  .flex-md-9 {
    flex: 90;
  }
  .flex-md-10 {
    flex: 100;
  }
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {
  .basicos .row {
    padding: 10px;
  }

  .d-lg-flex {
    display: flex;
  }

  .d-lg-block {
    display: block;
  }

  .d-lg-none {
    display: none;
  }

  .flex-lg-direction-row {
    flex-direction: row;
  }

  .flex-lg-direction-col {
    flex-direction: column;
  }

  .flex-lg-1 {
    flex: 10;
  }

  .flex-lg-2 {
    flex: 20;
  }

  .flex-lg-3 {
    flex: 30;
  }
  .flex-lg-4 {
    flex: 40;
  }
  .flex-lg-5 {
    flex: 50;
  }
  .flex-lg-6 {
    flex: 60;
  }
  .flex-lg-7 {
    flex: 70;
  }
  .flex-lg-8 {
    flex: 80;
  }
  .flex-lg-9 {
    flex: 90;
  }
  .flex-lg-10 {
    flex: 100;
  }
}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {
}
